@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/logohotel.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

nav .logo {
  width: 150px;
  height: 150px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}

nav ul li {
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 500;
}

header .middle {
  margin-left: 200px;
  margin-top: 50px;
}

header .middle h4 {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 100;
}

header .middle h1 {
  font-size: 100px;
  font-family: Garamond;
  font-weight: 700;
  line-height: 95px;
}

header .middle h3 {
  font-size: 40px;
  font-family: Garamond;
  font-weight: 700;
  word-spacing: 2rem;
}

header .middle p {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 300;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.btn-container .button {
  background-color: #e0b973;
  padding: 15px 70px;
  border: none;
  color: white;
  border-radius: 7px;
  margin-top: 50px;
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.icon-container h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: Montserrat;
}
.icon-container img {
  margin-bottom: 100px;
}

/* the bed section of this website */

.the-contanier {
  background: #ffffff;
  width: 100vw;
}
.the-contanier .push1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 150px;
  border-left: 1px solid #000000;
  padding: 15px;
}
.the-contanier .push1 .boxx1 {
  width: 400px;
}
.the-contanier .push1 .boxx2 {
  width: 400px;
}
.the-contanier .push1 .boxx2 img {
  width: 100%;
}
.the-contanier .push1 .boxx1 h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.the-contanier .push1 .boxx1 button {
  width: 100px;
  padding: 10px 15px;
  background: rgb(197, 191, 137);
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

/* the section tht is giving me a very big headece */
.the-contanier .push2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 150px;
  margin-top: 40px;
  border-left: 1px solid #000000;
  padding: 15px;
}
.the-contanier .push2 .boxx3 {
  width: 400px;
}
.the-contanier .push2 .boxx4 {
  width: 400px;
}
.the-contanier .push2 .boxx4 img {
  width: 100%;
}
.the-contanier .push2 .boxx3 h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.the-contanier .push2 .boxx3 button {
  width: 100px;
  padding: 10px 15px;
  background: rgb(197, 191, 137);
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

/* the testimone section of this website */
.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.section-second h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.section-second p {
  font-size: 20px;
  text-align: center;
}

.dir {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.dir .m1 {
  margin-right: 10px;
}
/* the footer section of this website*/
footer {
  background: #14274a;
  width: 100vw;
  padding: 30px;
}
footer .last1 {
  position: relative;
}
footer .last1 .last {
  width: 50px;
  height: 50px;
  background: #14274a;
  position: absolute;
  left: 46.6%;
  transform: rotate(45deg);
  bottom: -5px;
}
footer .last-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
footer .last-content .hero1 h1 {
  /* text-align: center; */
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
footer .last-content .hero1 h4 {
  margin-left: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
footer .last-content .hero1 p {
  color: #ffffff;
  line-height: 22px;
}

.last-content .hero2 p {
  /* display: inline-block; */
  color: #ffffff;
  margin-bottom: 10px;
}

.last-content .hero3 .bro1 {
  color: #ffffff;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}
.last-content .hero3 .bro1 p {
  margin-left: 15px;
}
.last-content .hero3 .bro2 {
  color: #ffffff;
  display: flex;
  margin-right: 10px;

  margin-bottom: 10px;
}
.last-content .hero3 .bro2 p {
  margin-left: 15px;
}
.last-content .hero3 .bro3 {
  color: #ffffff;
  display: flex;

  margin-bottom: 10px;
}
.last-content .hero3 .bro3 p {
  margin-left: 15px;
}
/* .last-content .hero4{
  position: absolute;
} */

.last-content .hero4 .him {
  display: flex;
  width: 100%;
  max-width: 300px;
  border: 2px solid goldenrod;
  border-radius: 8px;
  overflow: hidden;
}
.him ::placeholder {
  color: #ffffff;
}
.last-content .hero4 .him input {
  flex: 1;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 1em;
  outline: none;
}
.last-content .hero4 .him button {
  padding: 0 15px;
  border: none;
  background-color: mediumaquamarine;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
}
.last-content .hero4 p {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
}

/* facilites page of this website */
.second-slide {
  padding: 20px;
}

.second-slide h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.second-slide p {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
.the-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.the-img-section .img1 {
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
}
.the-img-section .img1 img {
  width: 100%;
  height: 100%;
}
.the-img-section .img2 {
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
}
.the-img-section .img2 img {
  width: 100%;
  height: 100%;
}
.the-img-section .img3 {
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
}
.the-img-section .img3 img {
  width: 100%;
  height: 100%;
}
.the-img-section .img4 {
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
}
.the-img-section .img4 img {
  width: 100%;
  height: 100%;
}
.the-img-section .img5 {
  width: 1200px;
  height: 1000px;
  margin-top: 50px;
}
.the-img-section .img5 img {
  width: 100%;
  height: 100%;
}
.facilities {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/Mask\ Group.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  color: white;
}

/* the rooms section of this website */
.rooms {
  padding: 20px;
}

.rooms h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.rooms p {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
.rooms-section {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 100%;            
  gap: 20px;              
}

.rooms-section img {
  width: 80%;             
  max-width: 1200px;       
  height: auto;              
  object-fit: cover; 
}

/* the contact form of this website */

.Contact{
  background:  #14274a;
  width: 100vw;
  height: 30vh;
}
.last-set-set{
  background-color: #ffffff;
}
.Contact .conn{
  text-align: center;
}
.here-for-you{
  margin-left: 200px;
}
.here-for-you h1{
  padding-top: 15px;
}
.here-for-you p{
  margin-top: 10px;
  font-size: 20px;
}
.form-set{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.form-set .sub-form{
  display: block;
}
.form-set .arrow{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
form{
  margin-top: 50px;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  flex: 1;
}
label{
  margin-bottom: 15px;
}
textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  flex: 1;
}
form button{
  background: #e0b973;
  width: 100px;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  border: none;
  position: relative;
  left: 180px;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
}