* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/p\ -\ Copy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
header .sub {
  margin: auto 150px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  margin-right: 15px;
}
nav ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  transition: all 3s;
}
nav ul li a:hover {
  background-color: transparent;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
}
nav ul li a:focus {
  color: blue;
}
header .maintext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  color: #ffffff;
}
.maintext .box1 h3 {
  font-size: 40px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}
.maintext .box1 h1 {
  font-size: 70px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.maintext .box1 h4 {
  font-size: x-large;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.maintext p {
  font-size: 15px;
  margin-top: 15px;
}
header .btn {
  position: relative;
}
header .btn button {
  position: absolute;
  left: 42.5%;
  width: 150px;
  padding: 10px 15px;
  margin-top: 40px;
  font-weight: 900;
  background-color: rgba(73, 151, 0);
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: #ffffff;
}
header .btn p {
  left: 46%;
  position: absolute;
  color: #ffffff;
  top: 150px;
  font-size: 20px;
}

/* the bed section of this website */

.the-contanier {
  background: #ffffff;
  width: 100vw;
}
.the-contanier .push1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 150px;
  border-left: 1px solid #000000;
  padding: 15px;
}
.the-contanier .push1 .boxx1 {
  width: 400px;
}
.the-contanier .push1 .boxx2 {
  width: 400px;
}
.the-contanier .push1 .boxx2 img {
  width: 100%;
}
.the-contanier .push1 .boxx1 h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.the-contanier .push1 .boxx1 button {
  width: 100px;
  padding: 10px 15px;
  background: rgb(197, 191, 137);
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

/* the section tht is giving me a very big headece */
.the-contanier .push2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 150px;
  margin-top: 40px;
  border-left: 1px solid #000000;
  padding: 15px;
}
.the-contanier .push2 .boxx3 {
  width: 400px;
}
.the-contanier .push2 .boxx4 {
  width: 400px;
}
.the-contanier .push2 .boxx4 img {
  width: 100%;
}
.the-contanier .push2 .boxx3 h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.the-contanier .push2 .boxx3 button {
  width: 100px;
  padding: 10px 15px;
  background: rgb(197, 191, 137);
  border: 0;
  outline: 0;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
}

/* the testimone section of this website */
.testmoine {
  text-align: center;
  padding-bottom: 80px;
}
/* the footer section of this website*/
footer {
  background: #14274a;
  width: 100vw;
  padding: 30px;
}
footer .last1 {
  position: relative;
}
footer .last1 .last {
  width: 50px;
  height: 50px;
  background: #14274a;
  position: absolute;
  left: 46.6%;
  transform: rotate(45deg);
  bottom: -25px;
}
footer .last-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
footer .last-content .hero1 h1 {
  /* text-align: center; */
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
footer .last-content .hero1 h4 {
  margin-left: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
footer .last-content .hero1 p {
  color: #ffffff;
  line-height: 22px;
}

.last-content .hero2 p{
  /* display: inline-block; */
  color: #ffffff;
  margin-bottom: 10px;
}

.last-content .hero3 .bro1 {
  color: #ffffff;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}
.last-content .hero3 .bro1 p {
  margin-left: 15px;
}
.last-content .hero3 .bro2 {
  color: #ffffff;
  display: flex;
  margin-right: 10px;

  margin-bottom: 10px;
}
.last-content .hero3 .bro2 p {
  margin-left: 15px;
}
.last-content .hero3 .bro3 {
  color: #ffffff;
  display: flex;

  margin-bottom: 10px;
}
.last-content .hero3 .bro3 p {
  margin-left: 15px;
}
/* .last-content .hero4{
  position: absolute;
} */

.last-content .hero4 .him {
  display: flex;
  width: 100%;
  max-width: 300px;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
}
.last-content .hero4 .him input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1em;
  outline: none;
}
.last-content .hero4 .him button {
  padding: 0 15px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.last-content .hero4 p {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
}
